PUID=1000
PGID=1001
TZ=America/Chicago
VPN_SERVICE_PROVIDER=surfshark
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=REPLACE_ME
WIREGUARD_ADDRESSES=REPLACE_ME
SERVER_COUNTRIES=United States
FIREWALL_OUTBOUND_SUBNETS=REPLACE_ME
