PUID=1000
PGID=1001
TZ=America/Chicago
VPN_SERVICE_PROVIDER=surfshark
VPN_TYPE=wireguard
WIREGUARD_PRIVATE_KEY=REPLACE_ME
WIREGUARD_ADDRESSES=REPLACE_ME
SERVER_COUNTRIES=United States
FIREWALL_OUTBOUND_SUBNETS=REPLACE_ME
JELLYFIN_API_KEY=REPLACE_ME
SEERR_API_KEY=REPLACE_ME
RADARR_API_KEY=REPLACE_ME
SONARR_API_KEY=REPLACE_ME
PIHOLE_WEBPASSWORD=REPLACE_ME
HOMEPAGE_ALLOWED_HOSTS=REPLACE_ME  # e.g. 192.168.1.182,morton.lan
